<!-- <div class="flex items-center gap-x-3 mx-5 md:mx-10">
    <label>Select Date: </label>
    <div>
        <select [(ngModel)]="selectedOption" (change)="optionSelected()">
            <option value="date">Date</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
        </select>
    </div>
    
    <div *ngIf="selectedOption === 'date'">
        <input type="date" [(ngModel)]="selectedDate" (change)="optionSelected()">
    </div>
    
    <div *ngIf="selectedOption === 'month'">
        <input type="month" [(ngModel)]="selectedMonth" (change)="optionSelected()">
    </div>
    
    <div *ngIf="selectedOption === 'year'">
        <input type="number" [(ngModel)]="selectedYear" (change)="optionSelected()" min="2000" max="2025">
    </div>
</div>


 -->
