<div class="grid grid-cols-2 gap-5">
    <div class="flex flex-col justify-center p-5 border border-black rounded-md min-h-[150px]">
        <h2 class="text-2xl font-bold">4235</h2>
        <p>Daily covid cases</p>
    </div>
    <div class="flex flex-col p-5 border justify-center border-black rounded-md min-h-[150px]">
        <h2 class="text-2xl font-bold text-green-500">+2.7%</h2>
        <p>Percentage change from previous day</p>
    </div>
    <div class="flex flex-col justify-center p-5 border border-black rounded-md min-h-[150px]">
        <h2 class="text-2xl font-bold">1234</h2>
        <p>Active Cases</p>
    </div>
    <div class="flex flex-col p-5 border justify-center border-black rounded-md min-h-[150px]">
        <h2 class="text-2xl font-bold">3289</h2>
        <p>Recovered Cases</p>
    </div>
    
</div>
